*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
}
a{
    text-decoration: none;
    color: white;
    padding: 2.5%;
    text-align: right;

}
html,body{
    height: 100%;

}
.container{
    max-width: 1200px;
    margin:0 auto;
}

.clear{
    clear:both;
}
.left{
    float: left;
}
.rigth{
    float: right;
}

/*header*/

header{
    background-color: #0e1922;
    color: #ffffff;
}

/*box-captura*/
section.box-captura{
    height: 7%;
    background-color: #0e1922;
    padding: 3%;
    border: 1.5%;

}
section.box-captura{
    text-decoration: none;
    color: white;
    padding: 1.5%;
    text-align: right;
}
.nome{
    text-align: left;
}
/*conteudo*/
section.conteudo{
    height: auto;
    padding: 0 10%;
    background-color: #ffffff;
    display:flex; 
    content: 5%;
}
div.post-left{
    height: 100%;
    background-color: #b5f8dd;
    width: 90%;
    float: left;
    text-align: left;
    border-radius : 15px;
    padding: 5%;
    margin: 10px;
}
div.sidebar-rigth{ 
    font-size: small;
    background-color: #5bc294;
    width: 20%;
    float: right;
    padding: 7px;
    margin: 10px;
    border-radius: 15px;

}
h3.conteudo{
    margin: 10%;
    text-align: center;
}
div.img.conteudo{
    height: auto;
    width: 10%;
}
div.titulos{
    text-align: center;
}

/*footer*/
footer{
    background-color: #0e1922;
    height: 10%;
}